@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
  }
}

/* Custom Islamic aesthetic scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #081219;
}

::-webkit-scrollbar-thumb {
  background: #14352b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

